#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
}

.read-the-docs {
  color: #888;
}
